@tailwind base;
@tailwind components;
@tailwind utilities;
@import "colors";
@import "header";

body {
  background-color: white;
}

@media (min-width: 1204px) {
  body {
    background-color: $gray25;
  }
}